/*todo lo del principio html, * y root*/

html {
    font-size: 10px;
    scroll-behavior: smooth !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    padding: 0;
}


/*Contenedores*/
.huge_news {
    width: 100%;
    height: 5000px;
    background-color: var(--light_blue);
}

.huge_news_container {
    max-width: 900px;
    height: 95%;
    background-color: var(--dark_blue);
    margin: auto;
    border-radius: 15px;
    position: relative;
}

.another_container {
    width: 100%;
    height: 100%; 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}









/*Parte del titulo con el icono de noticia*/
.huge_news_tittle {
    width: 100%;
    height: 80px;
    background-color: var(--Dark_blue);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
}

.huge_news_tittle h1{
    color: white;
    font-size: var(--font_titulo);
}

.huge_news_tittle img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}










/*Cuadro de la izquierda del filtro con sus cubos*/
.news_filter {
    width: 30%;
    height: 98.3%;
    border-right: 4px solid var(--Dark_blue);
}

.filter {
    width: 100%;
    height: 100%;
    margin-left: 10%;
    color: white;
    margin-top: 20px;
}

.filter h2 {
    font-size: var(--font_prepa_nombre);
}

.cube {
    width: 80%;
    height: fit-content;
    background-color: var(--Dark_blue);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10%;
    row-gap: 10px;
    padding: 5%;
    margin-top: 10px;
}

.cube a {
    font-size: var(--font_cube);
    font-weight: 0;
    color: white;
    transition-duration: 500ms;
}

.cube a:hover {
    text-decoration: underline;
}










/*Contenedor para cada noticia con flex*/
.news_each_container {
width: 70%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin-left: 3%;
margin-top: 20px;
gap: 20px;
}


/*La caja por si sola con abajo todos sus agregados*/
.news_each_box {
    width: 90%;
    height: 300px;
    background-color: var(--blue);
    border-radius: 15px;
    position: relative;
    transition-duration: 500ms;
}

.news_each_box:hover {
    transform: scale(1.02);
}


.news_each_box h4 {
    font-size: var(--font_date);
}

.news_each_box h3 {
    color: white;
    font-size: var(--font_news_tittle);
    margin-left: 20px;
    margin-top: 7px;
}

.news_each_box p {
    font-size: var(--font_summary);
    margin-left: 20px;  
    margin-top: 2px;
    word-spacing: 6px;
    max-width: 90%;
}

.news_each_box a {
    text-decoration: none;
    color: white;
}

.news_each_img_container {
    width: 100%;
    height: 70%;

}

.news_each_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.date_container_2 {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: rgb(53,147,164, 0.8);
    border-radius: 20px;
    width: 220px;
    height: 40px;
    padding: 12px;
    text-align: center;    
}

